<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>GitHub API Documentation - <%= current_page.data.title %></title>
  <link rel="icon" type="image/png" href="./favicon.ico" />
  <link rel="stylesheet" href="./stylesheets/main.css" type="text/css" />
</head>
<body>

  <header>
    <div class="wrapper">
      <a href="/" class="logo"><img src="./images/main/octocat-brand.png" width="32" height="32" /></a>

      <nav role="alternate">
        <ul>
          <li>logged in as <a href="https://github.com/paul">paul</a></li>
          <li><a href="/logout">logout</a></li>
        </ul>
      </nav>

      <form action="/search" method="get" class="search">
        <input type="text" name="q" placeholder="Search API Documentation" value="" />
      </form>
    </div>
  </header>

  <div id="wrapper">

    <nav role="main">
      <%= partial :toc %>
    </nav>

    <%# render_inline all_pages %>

  </div><!-- /#wrapper -->

</body>
</html>


