/* line 5, plugins/reset.css.scss */
* {
  padding: 0;
  margin: 0; }

/* line 9, plugins/reset.css.scss */
h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, dl, fieldset, address {
  margin: 1em 0; }

/* line 10, plugins/reset.css.scss */
li, dd {
  margin-left: 5%; }

/* line 11, plugins/reset.css.scss */
fieldset {
  padding: .5em; }

/* line 12, plugins/reset.css.scss */
select option {
  padding: 0 5px; }

/* line 14, plugins/reset.css.scss */
a {
  outline: none; }

/* line 15, plugins/reset.css.scss */
a img {
  border: none; }

/* line 3, sections/header.css.scss */
header {
  margin-bottom: 25px;
  overflow: auto;
  height: 47px;
  background: #009ece;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='$start', endColorstr='$end');
  background: -webkit-gradient(linear, left top, left bottom, from(#009ece), to(#0087c2));
  background: -moz-linear-gradient(top, #009ece, #0087c2);
  border-bottom: 1px solid #005e87;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); }
  /* line 13, sections/header.css.scss */
  header .wrapper {
    margin: 0 auto;
    width: 895px;
    padding: 7px 0; }
  /* line 19, sections/header.css.scss */
  header .logo {
    float: left;
    margin: 2px 10px 0 0; }
  /* line 26, sections/header.css.scss */
  header nav ul {
    margin: 9px 0 0 0; }
    /* line 29, sections/header.css.scss */
    header nav ul li {
      list-style-type: none;
      margin: 0 10px 0 0;
      float: left;
      font-weight: 300px;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.7);
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25); }
  /* line 41, sections/header.css.scss */
  header nav a {
    color: #fffbd3;
    font-weight: bold; }
  /* line 47, sections/header.css.scss */
  header .search {
    float: right;
    margin-top: -5px; }
    /* line 51, sections/header.css.scss */
    header .search input[type=text] {
      width: 340px;
      padding: 5px 4px;
      font-size: 12px;
      font-family: "Helvetica Neue", Helvetica;
      border-radius: 3px;
      border: 1px solid #008dc6;
      border-top-color: #006c97; }

/* line 9, main.css.scss */
a {
  color: #0095ca;
  text-decoration: none; }
  /* line 13, main.css.scss */
  a:hover {
    text-decoration: underline; }

/* line 18, main.css.scss */
a.username {
  font-weight: bold;
  color: #333;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3); }
  /* line 23, main.css.scss */
  a.username:hover {
    border-bottom: none; }

/* line 28, main.css.scss */
.pictos {
  font-family: 'Pictos';
  font-weight: normal !important;
  -webkit-font-smoothing: antialiased; }

/* line 34, main.css.scss */
img.emoji {
  border: 0;
  margin: 0;
  padding: 0;
  background: transparent; }

/* line 41, main.css.scss */
h2 {
  padding-bottom: 2px;
  font-size: 16px;
  color: #000;
  border-bottom: 1px solid #e1e1e1; }

/* line 47, main.css.scss */
h2.section-separator {
  clear: both;
  margin: 0;
  padding: 15px 0;
  font-size: 16px;
  background: url(/images/patterns/spaced-dotted.png) 0 100% repeat-x;
  border: none; }

/* line 58, main.css.scss */
h3.image-supported-header img {
  width: 24px;
  vertical-align: text-bottom; }

/* line 63, main.css.scss */
strong.highlight {
  background-color: #ffff00;
  padding: 0 2px; }

/* line 72, main.css.scss */
body {
  padding-bottom: 50px;
  font-family: "Helvetica Neue", Helvetica;
  font-size: 13px;
  line-height: 1.4;
  color: #5e5e5e;
  background: url(/images/main/background.png); }

/* line 83, main.css.scss */
#wrapper {
  margin: 0 auto;
  padding-left: 220px;
  width: 670px; }

/* line 89, main.css.scss */
nav[role=main] {
  float: left;
  margin-left: -220px;
  width: 200px; }
  /* line 94, main.css.scss */
  nav[role=main] .new {
    background-color: #0095ca;
    color: #fff; }
  /* line 99, main.css.scss */
  nav[role=main] .visible {
    display: block; }

/* line 104, main.css.scss */
nav[role=main] h3 {
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 14px;
  cursor: pointer;
  color: #888; }
  /* line 111, main.css.scss */
  nav[role=main] h3 span {
    float: right;
    background-color: #eee;
    border-radius: 4px;
    padding: 2px 7px;
    font-size: 12px; }

/* line 120, main.css.scss */
nav[role=main] ul {
  margin: 0;
  font-weight: 300;
  font-size: 14px; }
  /* line 126, main.css.scss */
  nav[role=main] ul li {
    list-style-type: none;
    margin: 0 0 20px 0; }
    /* line 130, main.css.scss */
    nav[role=main] ul li a {
      color: #888;
      text-decoration: none; }
      /* line 134, main.css.scss */
      nav[role=main] ul li a.selected {
        font-weight: bold;
        color: #000; }
    /* line 140, main.css.scss */
    nav[role=main] ul li li {
      margin: 0 0 0 10px;
      font-size: 12px; }

/* line 147, main.css.scss */
.pullr {
  float: right; }

/* line 3, shared/alerts.css.scss */
.alert {
  position: relative;
  display: block;
  margin: 10px 0;
  padding: 8px 35px 8px 14px;
  color: #ab823c;
  background: #FCF8E3;
  border: 1px solid #FBEED5;
  border-radius: 4px; }
  /* line 15, shared/alerts.css.scss */
  .alert.collapsed {
    display: none; }
  /* line 19, shared/alerts.css.scss */
  .alert > .close {
    position: absolute;
    top: 8px;
    right: 8px;
    color: #C09853;
    cursor: pointer; }
    /* line 26, shared/alerts.css.scss */
    .alert > .close:hover {
      color: #cc0000 !important; }
  /* line 31, shared/alerts.css.scss */
  .alert > p {
    margin: 0; }
  /* line 34, shared/alerts.css.scss */
  .alert > p + p {
    margin-top: 10px; }

/* line 39, shared/alerts.css.scss */
.alert.info-alert {
  color: #3A87AD;
  background: #D9EDF7;
  border-color: #BCE8F1; }
  /* line 44, shared/alerts.css.scss */
  .alert.info-alert > .close {
    color: #3A87AD; }

/* line 3, sections/api_docs.css.scss */
#wrapper {
  font-size: 15px; }

/* line 9, sections/api_docs.css.scss */
nav[role="main"] .category {
  font-weight: bold;
  font-size: 18px; }
  /* line 13, sections/api_docs.css.scss */
  nav[role="main"] .category a {
    color: #5E5E5E; }
/* line 18, sections/api_docs.css.scss */
nav[role="main"] .page {
  font-size: 15px; }

/* line 23, sections/api_docs.css.scss */
h2 {
  font-size: 20px; }

/* line 26, sections/api_docs.css.scss */
h3 {
  font-size: 18px; }

/* line 29, sections/api_docs.css.scss */
h4 {
  font-size: 16px; }

/* line 33, sections/api_docs.css.scss */
pre, code {
  border: 1px solid #DDD;
  background-color: #F0F0F0;
  padding: 1px 0.25em;
  font-size: 13px; }

/* line 40, sections/api_docs.css.scss */
pre {
  width: 90%;
  margin: 1em auto;
  margin-bottom: 2em;
  overflow: scroll;
  box-shadow: #AAA 0 1px 1px inset,white 0 1px 0;
  border-radius: 4px; }
  /* line 49, sections/api_docs.css.scss */
  pre code {
    border: 0;
    background-color: transparent;
    padding: 0; }

/* line 62, sections/api_docs.css.scss */
.quickref .method, .quickref .url {
  font-family: "Inconsolata", "Menlo", monospace;
  font-size: 13px; }
/* line 67, sections/api_docs.css.scss */
.quickref .method {
  text-align: center; }

/* line 75, sections/api_docs.css.scss */
dl.attributes {
  font-size: 14px;
  padding: 0 1em 0.5em 1em;
  width: 90%;
  margin: 1em auto; }
  /* line 81, sections/api_docs.css.scss */
  dl.attributes dt {
    font-family: "Inconsolata", "Menlo", monospace;
    font-size: 13px;
    position: relative;
    left: 0;
    top: 1.5em;
    width: 10em; }
  /* line 91, sections/api_docs.css.scss */
  dl.attributes dd {
    margin: 0 0 0 11em;
    padding: 0 0 0.5em 0.5em; }
    /* line 96, sections/api_docs.css.scss */
    dl.attributes dd.tags ul {
      display: inline; }
      /* line 99, sections/api_docs.css.scss */
      dl.attributes dd.tags ul li {
        font-size: 13px;
        display: inline-block;
        list-style-type: none;
        font-style: italic;
        margin: 0 0.5em 0 0; }
