/* line 12, shared/buttons.css.scss */
button, a.button {
  display: inline-block;
  padding: 5px 15px;
  line-height: normal;
  font-family: "Helvetica Neue", Helvetica;
  font-size: 12px;
  font-weight: bold;
  color: #666;
  text-shadow: 0 1px rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  border: 1px solid #ddd;
  border-bottom-color: #bbb;
  background: #f5f5f5;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='$start', endColorstr='$end');
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
  background: -moz-linear-gradient(top, #f5f5f5, #e5e5e5);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer; }
  /* line 31, shared/buttons.css.scss */
  button.primary, button.primary:hover, a.button.primary, a.button.primary:hover {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    border-color: #74bb5a;
    border-bottom-color: #509338;
    background: #8add6d;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='$start', endColorstr='$end');
    background: -webkit-gradient(linear, left top, left bottom, from(#8add6d), to(#60b044));
    background: -moz-linear-gradient(top, #8add6d, #60b044);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); }
  /* line 41, shared/buttons.css.scss */
  button.smaller, a.button.smaller {
    font-size: 11px;
    padding: 4px 7px; }
  /* line 46, shared/buttons.css.scss */
  button.huge, a.button.huge {
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
    text-align: center; }
  /* line 53, shared/buttons.css.scss */
  button.pictos, a.button.pictos {
    padding: 6px 13px 5px 13px;
    font-family: 'Pictos';
    font-size: 16px;
    text-decoration: none; }
  /* line 60, shared/buttons.css.scss */
  button.inline-text, a.button.inline-text {
    margin-right: 5px; }
  /* line 64, shared/buttons.css.scss */
  button:hover, a.button:hover {
    color: #337797;
    text-decoration: none;
    background: #f0f7fa;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='$start', endColorstr='$end');
    background: -webkit-gradient(linear, left top, left bottom, from(#f0f7fa), to(#d8eaf2));
    background: -moz-linear-gradient(top, #f0f7fa, #d8eaf2);
    border-color: #cbe3ee;
    border-bottom-color: #97c7dd; }
  /* line 72, shared/buttons.css.scss */
  button:disabled, a.button:disabled {
    opacity: 0.5; }

/* line 83, shared/buttons.css.scss */
.button-group {
  display: inline-block;
  overflow: hidden;
  border-radius: 3px;
  border: 1px solid #ddd;
  border-bottom-color: #bbb;
  background: #f5f5f5;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='$start', endColorstr='$end');
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
  background: -moz-linear-gradient(top, #f5f5f5, #e5e5e5);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15); }
  /* line 93, shared/buttons.css.scss */
  .button-group .grouped-button {
    float: left;
    margin: 0;
    padding: 5px 15px;
    font-size: 12px;
    font-weight: bold;
    color: #666;
    text-shadow: 0 1px rgba(255, 255, 255, 0.9);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer; }
    /* line 108, shared/buttons.css.scss */
    .button-group .grouped-button:first-child {
      border-left: none; }
    /* line 111, shared/buttons.css.scss */
    .button-group .grouped-button:last-child {
      border-right: none; }
    /* line 115, shared/buttons.css.scss */
    .button-group .grouped-button:hover {
      color: #337797;
      text-decoration: none;
      background: #f0f7fa;
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='$start', endColorstr='$end');
      background: -webkit-gradient(linear, left top, left bottom, from(#f0f7fa), to(#d8eaf2));
      background: -moz-linear-gradient(top, #f0f7fa, #d8eaf2); }

/* line 129, shared/buttons.css.scss */
a.button.star {
  display: inline-block;
  position: relative;
  top: -1px;
  padding: 3px 7px 2px 6px;
  line-height: normal;
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
  text-shadow: 0 1px rgba(255, 255, 255, 0.9);
  text-decoration: none;
  border: 1px solid #e1e3e6;
  border-bottom-color: #bdc7d2;
  border-radius: 3px;
  background: white;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='$start', endColorstr='$end');
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#e2e2e2));
  background: -moz-linear-gradient(top, white, #e2e2e2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); }
  /* line 149, shared/buttons.css.scss */
  a.button.star .star {
    font-size: 10px; }
  /* line 151, shared/buttons.css.scss */
  a.button.star.star-given {
    color: #ae7e00;
    border-color: #e3e3d3;
    border-bottom-color: #d1d2a9;
    background: #fcfcf4;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='$start', endColorstr='$end');
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfcf4), to(#eaebc1));
    background: -moz-linear-gradient(top, #fcfcf4, #eaebc1); }
    /* line 153, shared/buttons.css.scss */
    a.button.star.star-given .star {
      color: #ffba00; }
  /* line 160, shared/buttons.css.scss */
  a.button.star.disabled {
    opacity: 0.5; }

/* line 165, shared/buttons.css.scss */
.remove-button {
  font-size: 14px;
  color: #bbb;
  cursor: pointer; }
  /* line 170, shared/buttons.css.scss */
  .remove-button:hover {
    color: #cc0000; }
