
%h1 Table of Contents

%ul.categories
  - pages_for_toc.each do |category, pages|
    %li.category
      = link_to category.titlecase, "##{category}"

    - unless pages.empty?
      %ul.pages
        - pages.each do |page|
          %li.page
            = link_to page.title, "##{page.anchor}"
